/calci.py
/calculator.py
/connect_with_db.py
/cppi.py
/dec.py
/demo.py
/demo10.py
/demo11.py
/demo12.py
/demo13.py
/demo14.py
/demo15.py
/demo16.py
/demo17.py
/demo18.py
/demo19.py
/demo2.py
/demo20.py
/demo21.py
/demo22.py
/demo3.py
/demo4.py
/demo5.py
/demo6.py
/demo7.py
/demo8.py
/demo9.py
/new.py
/radio_.py
/registration.py
/registration_form.py
/sarvesh.py
/scroolbar_2.py
/tempCodeRunnerFile.py
/TK Inter.pdf
/Tkinter work.txt